<div class="col-md-12">
	<div class="tabs-menus">
		<div class="buttons">
			<button><i class="fa fa-star-o"></i></button>
			<button>전체 </button>
			<button>승무패 </button>
			<button>언/오버 </button>
		</div>
	</div>
	<div class="match-tbl">
		<div class="repeat-tbl">
			<table>
				<tr>
					<th> <i class="fa fa-star-o"></i>승패 </th>
				</tr>
				<tbody>
					<tr>
						<td>
							<span>루카스 푸예</span>
							<span> 1.74</span>
						</td>
						<td>
							<span>안드레아스 세피</span>
							<span>2.09</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>