<div class="sports-menu-nav ng-scope" >
    <a ui-sref="sports.sports"   role="button" href="/en/sports">Real Time</a>
    <a  ui-sref="sports.livebet" role="button" class=" active" href="/en/livebet">Sports</a>
</div>
<section class="sports-menu animated fadeIn" style="min-height: 1148px;" ng-controller="sportsCtrl">
    <div class="sports-menu-inner" style="">
        <div class="panel-group simple-view" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default animated fadeIn ng-scope">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle=""  class="">
                            eSports
                            <i class="pull-right icon-plus" ng-class="">
                            </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>