<div class="">
    <figure class="game-image animated zoomIn">
        <casino-game-stakes game="game" class="">
            <div class="casino-stakes ">
            </div>
        </casino-game-stakes>
        <div class="ribbon left popular ">
            <span class="ng-binding">NEW</span>
        </div>
        <a href="/en/casino/game/gold-king/">
            <img  alt="Gold King" img-placeholder=""  src="./images/ibet/asian_gaming/ag_bac.jpg" class=" ">
        </a>
    </figure>
    <figcaption class="animated fadeIn delay1000 ">
        <a class="ng-binding" href="#">라이브 바카라</a>
    </figcaption>
</div>