<div id="prematch">
    <footer class="footer">
        <div class="quick-links row " style="width: 40%; margin:0 auto;">
            <div class="col-md-4">
                <ul ng-class="expanded">
                    <h3><a class="" href="#">About</a></h3>
                    <li><a  class="link " href="#">베팅 규정</a></li> 
                    <li><a  class="link " href="#">공지/이벤트</a></li> 
                    <li><a  class="link " href="#">이용약관</a></li> 
                </ul>
            </div>
            <div class="col-md-4">
                <ul ng-class="expanded">
                    <h3><a class="" href="#">Help</a></h3> 
                    <li><a  class="link " href="#">베팅 가이드</a></li> 
                    <li class="">
                        <a  class="link " href="#">게임 가이드</a> 
                    </li>
                    <li class="">
                        <a  class="link " href="#">자주 묻는 질문</a> 
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul ng-class="expanded">
                    <h3><a class="" href="#">Games</a></h3> 
                    <li><a  class="link " href="#">스포츠북</a></li> 
                    <li><a  class="link " href="#">가상게임</a></li> 
                    <li><a  class="link " href="#">라이브 카지노</a></li> 
                </ul>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <ul ng-class="expanded">
                    <h3><a href="#">Partners</a></h3>
                    <li><img src="images/ibet/partner_4.png"></li>
                </ul>
            </div>
        </div>
        <div class="responsible container-fluid">
            <p  class="">Gambling can be addictive. Play responsibly.  www.gamblingtherapy.org & www.gamblersanonymous.org</p>
            <p>© 2017 IBET25.COM. ALL RIGHTS RESERVED. | +18</p>
            <img src="images/ibet/f_logo.png">
        </div>
    </footer>    
</div>
