<header class="site-header">
    <div class="container-fluid">
        <section class="logo animated zoomIn">
            <a ui-sref="home" href="/en/sports">
                <img src="./images/ibet/logo.png" role="logo"  alt="ibet25">
            </a>
        </section>
        <nav role="navigation">
            <ul>
                <li>
                    <a ui-sref="sports.livebet" ui-sref-active="active"    href="#" title="Live Sports">
                        실시간
                    </a>
                </li>

                <li>
                    <a ui-sref="sports.prematch" ui-sref-active="active"    href="#" title="Prematch">
                        스포츠
                    </a>
                </li>
                <li>
                    <a  ui-sref="virtual-sports"  ui-sref-active="active"   href="#" title="Virtual Game">
                        가상게임
                    </a>
                </li>
                <li>
                    <a  ui-sref="casino "  ui-sref-active="active"  href="#" title="Casino">
                        카지노
                    </a>
                </li>
                <li >
                    <a ui-sref="minigame"  ui-sref-active="active"  href="#" title="Mini Game">
                        미니게임
                    </a>
                </li>
                <li >
                    <a  ui-sref="slot"  ui-sref-active="active"  href="#" title="Slot Game">
                        슬롯게임
                    </a>
                </li>
            </ul>
        </nav>
        <login ></login>
    </div>
</header>