<div class="pull-left" >
    <ul class="lang-menu">
        <li ng-class="{'active': flag === 'en'}" class="active">
            <a ng-click=" flag = 'en' ">
                <img src="https://www.coolbet.com/assets/images/flags/EN.png"  alt="English site">
            </a>
        </li>
        <li ng-class="{'active': flag === 'no'}">
            <a ng-click=" flag = 'no' ">
                <img src="https://www.coolbet.com/assets/images/flags/NO.png" alt="Norwegian site">
            </a>
        </li>
        <li ng-class="{'active': flag === 'sv'}">
            <a ng-click=" flag = 'sv' ">
                <img src="https://www.coolbet.com/assets/images/flags/SE.png"  alt="Swedish site">
            </a>
        </li>
        <li ng-class="{'active': flag === 'fi'}">
            <a ng-click=" flag = 'fi' ">
                <img src="https://www.coolbet.com/assets/images/flags/FI.png"  alt="Finnish site">
            </a>
        </li>
        <li ng-class="{'active': flag === 'et'}">
            <a ng-click=" flag = 'et' ">
                <img src="https://www.coolbet.com/assets/images/flags/EE.png"  alt="Estonian site">
            </a>
        </li>
        <li ng-class="{'active': flag === 'ru'}">
            <a ng-click=" flag = 'ru' ">
                <img src="https://www.coolbet.com/assets/images/flags/RU.png"  alt="Russian site">
            </a>
        </li>
        <ul>
            <li ng-class="{'hidden': flag === 'en'}" class="hidden">
                <a ng-click=" flag = 'en' ">
                    <img src="https://www.coolbet.com/assets/images/flags/EN.png"  alt="English site">
                </a>
            </li>
            <li ng-class="{'hidden': flag === 'no'}">
                <a ng-click=" flag = 'no' ">
                    <img src="https://www.coolbet.com/assets/images/flags/NO.png" alt="Norwegian site">
                </a>
            </li>
            <li ng-class="{'hidden': flag === 'sv'}">
                <a ng-click=" flag = 'sv' ">
                    <img src="https://www.coolbet.com/assets/images/flags/SE.png"  alt="Swedish site">
                </a>
            </li>
            <li ng-class="{'hidden': flag === 'fi'}">
                <a ng-click=" flag = 'fi' ">
                    <img src="https://www.coolbet.com/assets/images/flags/FI.png"  alt="Finnish site">
                </a>
            </li>
            <li ng-class="{'hidden': flag === 'et'}">
                <a ng-click=" flag = 'et' ">
                    <img src="https://www.coolbet.com/assets/images/flags/EE.png"  alt="Estonian site">
                </a>
            </li>
            <li ng-class="{'hidden': flag === 'ru'}">
                <a ng-click=" flag = 'ru' ">
                    <img src="https://www.coolbet.com/assets/images/flags/RU.png"  alt="Russian site">
                </a>
            </li>
        </ul>
    </ul>
</div>