<section class="login ng-scope" ng-controller="appCtrl">
    <language></language>
    <ul class="login-links pull-left">
        <li>
            <a ui-sref="signup" class="active signup-btn" href="./#/signup" ui-sref-active="active" title="Sign Up Now">
                <span class="ng-binding">Sign Up Now</span>
            </a>
        </li>
        <li>
            <a class="login-btn" title="Login" ng-click="open()">
                <span >Login<i class="fa fa-sign-in"></i></span>
            </a>
        </li>
    </ul>
</section>