<div class="buttons-box" role="group" aria-label="...">
    <button  type="button" class="button -button-small -sec-orange" ng-class="-sec-orange" >
        <span class="ng-binding">Single</span>
    </button>
    <button  type="button" class="button -button-small disabled" ng-class="-sec-orange">
        <span  class="popover-trigger-area ng-binding ng-scope" data-container="body" data-toggle="popover" data-placement="bottom" data-content="You must have between 2 and 15 selections!">Combo</span>
    </button>
    <button  type="button" class="button -button-small disabled" ng-class="-sec-orange">
        <span  class="popover-trigger-area ng-binding ng-scope" data-container="body" data-toggle="popover" data-placement="bottom" data-content="You must have between 3 and 15 selections!">System</span>
    </button>
</div>